@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400&display=swap');

@font-face {
    font-family: 'Metropolis Black';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Black'), url('/fonts/Metropolis-Black.otf') format('opentype');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul{
    padding:0;
    list-style: none;
}

pre{
    white-space: pre-wrap;
}

code{
    font-family: 'JetBrains Mono', monospace;
    background: #eee;
    color:#111;
    display:block;
    padding: 1rem;
    line-height: 1.75rem;
    font-size: .8rem;
    font-weight:300;
}

button{
    cursor: pointer;
}

.btn-light{
    padding:.75rem 1rem;
    font-weight: 300;
    font-size: 1rem;
    color:#ff009d;
    background: #000;
    border:1px solid #ff009d;
}

p{
    line-height: 1.5rem;
    font-weight: 300;
}

/* Pages */
.page-body{
    max-width:700px;
    margin:0 auto;
    padding: 0 1.5rem;
    padding-bottom:6rem;
}

.page-body p{
    font-size:16px;
    line-height:1.75rem;
}

.page-body h2{
    margin-top:2rem;
    margin-bottom:0;
    font-size: 1.25rem;
}

.page-head h3{
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1rem;
}

.page-head{
    max-width:700px;
    margin:0 auto;
    margin-bottom:2rem;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
}

.page-head h1{
    margin:0;
    margin-bottom:1rem;
    font-size: 2.2rem;
    line-height: 2.7rem;
}

.page-head .user-profile{
    height:30px;
    width:30px;
    background-color:#eee;
    margin-right:1rem;
    border-radius:50%;
}

.user-profile img{
    border-radius:50%;
    height:100%;
    width:100%;
}