@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400&display=swap');

@font-face {
    font-family: 'Metropolis Black';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Black'), url('/fonts/Metropolis-Black.otf') format('opentype');
}

:root {
    --background: #fff;
    --nav-background: rgb(255,255,255,0.9);

    --color:#000;
    --color-secondary:#777;
    --color-light:#999;

    --color-link:#735dde;
    --color-link-hover:#735dde;
    --color-link-active:#735dde;

    --switch-btn-bg:#EDF2F7;
    --switch-btn-bg-hover:#e7eef5;

    --input-bg:#fff;
    --input-border:#DBDFE4;
    --input-placeholder:#ccc;

    --newsletter-border:#b7afe2;
    --newsletter-bg:#f9f7ff;
    --newsletter-input:#fff;
    --newsletter-input-placeholder:#ccc;
    --newsletter-heading:#000;

    --code-bg:#735dde;
    --code-text:#fff;

    --message-text:#21d289;
    --message-bg:#f0fff8;

    --btn-text:#fff;
    --btn-bg:#735dde;
    --btn-bg-hover:#6350c1;

    --label-bg:#fff;
    --label-text:#555;
    --label-border:#ddd;

    --spotify-title:#111;
    --spotify-subtitle:#999;
    --spotify-bg:#fff;
    --spotify-shadow:rgb(0,0,0,0.05);

    --algolia-text:#182359;
}

[data-theme='dark'] {
    --background: #0d1117;
    --nav-background: rgb(13,17,23,0.85);

    --color:#fff;
    --color-secondary:#8b949e;
    --color-light:#8b949e;

    --color-link:#9a86fd;
    --color-link-hover:#735dde;
    --color-link-active:#735dde;

    --switch-btn-bg:#151a23;
    --switch-btn-bg-hover:#191e29;

    --input-bg:#151a23;
    --input-border:#151a23;
    --input-placeholder:#4b5769;

    --newsletter-border:#151a23;
    --newsletter-bg:#151a23;
    --newsletter-input:#12171f;
    --newsletter-input-placeholder:#4b5769;
    --newsletter-heading:#735dde;

    --code-bg:#735dde;
    --code-text:#fff;

    --message-text:#21d289;
    --message-bg:#00ff8812;

    --btn-text:#fff;
    --btn-bg:#735dde;
    --btn-bg-hover:#6350c1;

    --label-bg:#0d1117;
    --label-text:#fff;
    --label-border:#2b3440;

    --spotify-title:#fff;
    --spotify-subtitle:#ccc;
    --spotify-bg:#0d1117;
    --spotify-shadow:rgb(0,0,0,0.3);

    --algolia-text:#fff;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a {
    color: var(--color-link);
    text-decoration: none;
}

* {
    box-sizing: border-box;
    transition:all ease-in-out .1s;
}

ul{
    padding:0;
    list-style: none;
}

pre{
    white-space: pre-wrap;
}

code{
    font-family: 'JetBrains Mono', monospace !important;
    background: var(--code-bg);
    color:var(--code-text);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: .8rem;
    font-weight:300;
}

button{
    cursor: pointer;
}

h1,
h2,
h3,
p{
    color:var(--color);
}

textarea{
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

p{
    line-height: 1.5rem;
    font-weight: 300;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Pages */
.page-body{
    max-width:800px;
    margin:0 auto;
    padding: 0 1.5rem;
}

.page-body p{
    font-size:16px;
    margin-top: 1rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

.page-body h2{
    font-size: 1.5rem;
    margin-bottom: 1em;
    margin-top: 2em;
}

.page-body h3{
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
}

.page-body pre{
    border-radius: 4px !important;
    padding:1.5em !important;
    font-size:.8rem !important;
    background-color: #0f111a !important;
}

.page-body pre code{
    background:transparent;
    padding:0;
}

.page-head{
    max-width:800px;
    margin:0 auto;
    margin-bottom:2rem;
    margin-top:6rem;
    padding: 0 1.5rem;
}

.page-head h1{
    margin:0;
    margin-bottom:1rem;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: -0.025em;
}

.page-head .user-profile{
    height:25px;
    width:25px;
    background-color:#eee;
    margin-right:1rem;
    border-radius:50%;
}

.post-info{
    width:100%;
    margin-top:.5rem;
}

@media(min-width:512px){
    .post-info{
        width:unset;
        margin-top:0;
        margin-left:auto;
    }
}

@media(min-width:768px){
    .page-head .user-profile{
        height:30px;
        width:30px;
    }
}

.user-profile img{
    border-radius:50%;
    height:100%;
    width:100%;
}