@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400&display=swap');

@font-face {
    font-family: 'Metropolis Black';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Black'), url('/fonts/Metropolis-Black.otf') format('opentype');
}

:root {
    --background: #fff;
    --nav-background: rgb(255,255,255,0.9);

    --color:#000;
    --color-secondary:#777;
    --color-light:#999;
    --color-link:#ff397a;

    --btn-bg:#EDF2F7;
    --btn-bg-hover:#e7eef5;

    --newsletter-border:#91f1d9;
    --newsletter-bg:#f1fffb;
    --newsletter-input:#fff;
    --newsletter-input-placeholder:#ccc;
    --newsletter-heading:#000;
    --newsletter-btn-text:#fff;
    --newsletter-btn-bg:#111;
    --newsletter-btn-bg-hover:#000;
}

[data-theme='dark'] {
    --background: #0d1117;
    --nav-background: rgb(13,17,23,0.85);

    --color:#fff;
    --color-secondary:#8b949e;
    --color-light:#8b949e;
    --color-link:#ff397a;

    --btn-bg:#151a23;
    --btn-bg-hover:#191e29;

    --newsletter-border:#151a23;
    --newsletter-bg:#151a23;
    --newsletter-input:#12171f;
    --newsletter-input-placeholder:#4b5769;
    --newsletter-heading:#ff397a;
    --newsletter-btn-text:#fff;
    --newsletter-btn-bg:#ff397a;
    --newsletter-btn-bg-hover:#fd4784;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a {
    color: var(--color-link);
    text-decoration: none;
}

* {
    box-sizing: border-box;
    transition:all ease-in-out .1s;
}

ul{
    padding:0;
    list-style: none;
}

pre{
    white-space: pre-wrap;
}

code{
    font-family: 'JetBrains Mono', monospace !important;
    background: #eee;
    color:#111;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: .8rem;
    font-weight:300;
}

button{
    cursor: pointer;
}

.btn-light{
    padding:.75rem 1rem;
    font-weight: 300;
    font-size: 1rem;
    color:#ff009d;
    background: #000;
    border:1px solid #ff009d;
}

h1,
h2,
h3,
p{
    color:var(--color);
}

p{
    line-height: 1.5rem;
    font-weight: 300;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Pages */
.page-body{
    max-width:800px;
    margin:0 auto;
    padding: 0 1.5rem;
}

.page-body p{
    font-size:16px;
    margin-top: 1rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

.page-body h2{
    font-size: 1.5rem;
    margin-bottom: 1em;
    margin-top: 2em;
}

.page-body h3{
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
}

.page-body pre{
    border-radius: 4px !important;
    padding:1.5em !important;
    font-size:.8rem !important;
}

.page-body pre code{
    background:transparent;
    padding:0;
}

.page-head{
    max-width:800px;
    margin:0 auto;
    margin-bottom:2rem;
    margin-top:6rem;
    padding: 0 1.5rem;
}

.page-head h1{
    margin:0;
    margin-bottom:1rem;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: -0.025em;
}

.page-head .user-profile{
    height:25px;
    width:25px;
    background-color:#eee;
    margin-right:1rem;
    border-radius:50%;
}

.post-info{
    width:100%;
    margin-top:.5rem;
}

@media(min-width:512px){
    .post-info{
        width:unset;
        margin-top:0;
        margin-left:auto;
    }
}

@media(min-width:768px){
    .page-head .user-profile{
        height:30px;
        width:30px;
    }
}

.user-profile img{
    border-radius:50%;
    height:100%;
    width:100%;
}